body {
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h1 {
    text-align: center;
    background-color: #e28743;
    font-family: "Times New Roman", sans-serif;
    border: 2px dotted blue;
    padding: 10px 15px;
    width: 250px;
    margin: 0px 0px 20px 0px; 
}
p {
    text-align: justify;
    background-color: hsl (55, 71%, 40);
    font-style: italic;
    padding: 20px;
    border-left: 3px dotted black;
    border-right: 3px dotted black;
    border-top: 3px dashed black;
    border-bottom: 3px double black;
    width: 500px;
}
span {
    font-weight: bold;
    font-style: italic;
    color: rgb(234,182,118);
    margin: 0px 5px 0px 2px;
}
